body{
  padding: 0;
  margin: 0;
}
.page-header{
  text-align: center;
}
.rectangle{
  border: 1px solid #000;
  max-width: 500px;
  height: 450px;
  position: relative;
  margin: 50px auto;
  background: #6dfbfb;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.box-div {
  width: 50px;
  height: 50px;
  position: absolute;
  line-height: 50px;
  font-size: 30px;
}
.block1{
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #ed3833;
  text-align: center;
}
.block2{
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25%;
  background: #fef851;
  text-align: right;
}
.block3{
  top: 0;
  right: 0;
  background: #2045f6;
  line-height: 50px;
}
.block4{
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
  background: #3a801d;
  text-align: right;
  border-right: #244fd1 10px solid;
}
.block5{
  width: 75px;
  height: 75px;
  /* top: 50%; left: 50%;
  transform: translate(-37%,-37%); */
  top: calc(50% - 75px*3/8);
  left: calc(50% - 75px*3/8);
  /* space between - */
  background: #f5a540;
  line-height: 75px;
  text-align: center;
}
.block6{
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  background: #812b80;
}
.block7{
  left: 0;
  bottom: 0;
  /* background: #235258; */
  background-color: transparent;
  text-align: right;
  color: #3b811e;
}
.block8{
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000000;
  color: #e1e1e1;
}
.block9{
  right: 0;
  bottom: 0;
  background: #7e7e7e;
  line-height: 0px;
  text-align: center;
  color: #ed3833;
}